.details-wrapper {
  padding: 20px;
  border-left: 1px solid var(--lightGray-color);
  height: 100%;

  h2 {
    margin: 0px;
  }

  .director,
  .details {
    color: var(--gray-color);
    margin-top: 5px;
  }

  .modal-wrapper {
    margin-top: 20px;
  }

  button {
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);

    &:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }
}