.App {
  width: 80%;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  margin: auto;
  box-shadow: 0 0 2px 2px var(--gray-color);
  font-family: var(--font-base);

  * {
    box-sizing: border-box;
  }
}